__pycache__/
*.pyc
*.py[cod]
*.mp4
*.mov
*.avi
*.mkv
*.wav
*.mp3
*.aac
*.ogg
*.flac
.env
.cache/
.DS_Store
*.temp
*.tmp
.ipynb_checkpoints/
*.dylib
*.so
*.dll
*.bin
*.exe
venv*/
venv*/lib/python*/site-packages/

.venv/
venv311/
